{% extends "base.html" %}

{% block title %}Edit Post{% endblock %}

{% block content %}   

  <a id="gohome" href="/viewposts/">Home</a>
  <div style="margin:auto; width:80%;">
    <h2>Edit Post</h2>
    <form action="/postedit/{{ post.id }}/" method="post">
      <div id="date" style=" float:right;">
        <label>Published on:</label><br />
        <input name="created" type="date" value="{{ post.created|date:"Y-m-d" }}"></input>
      </div>
      <label>Topic</label><br />
      <textarea name="topic" contenteditable="true" cols="100" rows="1" maxlength="100" autofocus="true" style="border-radius:5px; padding:5px;">{{ post.topic }}</textarea><br />
      <label>Content</label><br />
      <textarea name="content" contenteditable="true" spellcheck="true" cols="100" rows="25" style="border-radius:10px; padding:15px;">{{ post.content }}</textarea><br />
      <input class="postblog" type="submit" value="Post" />
    </form>
  </div>

{% endblock %}
